<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Terminus</span>
</nav>
<div class="d-flex justify-content-center">
        <p>Successfully created Termin!</p>
</div>

  <div class="d-flex justify-content-center">
    <div class="d-flex">
            <button type="button" name="shareButton" (click)="getShareUrl()" class="btn btn-info">Share Button</button>
    </div>
  </div>
<br>
  <div class="d-flex justify-content-center">
    <div class="d-flex">
        <button type="button" name="downloadButton" (click)="downloadIcs()" class="btn btn-success">Download ICS</button>
    </div>
</div>
