  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Terminus</span>
  </nav>

<div layout="row" class="md-margin">
    <div flex>

        <form>
                <ngb-datepicker #d></ngb-datepicker>
                <div class="form-group">
                  <label for="intputTitle">Titel</label>
                  <input type="text" class="form-control" id="intputTitle" placeholder="Enter Title">
                </div>
                <div class="form-group">
                  <label for="inputDescription">Description</label>
                  <input type="text" class="form-control" id="inputDescription" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
