  <nav class="navbar navbar-light bg-light">
    <div class="center">
        <span class="navbar-brand mb-0 h1">Terminus</span>
        <span class="navbar-brand mb-0 h1">- create & share events with your friends!</span>

    </div>
    
  </nav>

<div layout="row" class="md-margin">
    <div class="container">
        <form #terminForm="ngForm">
          <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
                          
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
                <div class="row" >
                  <div class="column">
                      <ngb-timepicker name="startTimePicker" (ngModelChange)="onStartTimeSelection($event)" [(ngModel)]="startTime"></ngb-timepicker>
                  </div>
                  <div class="column">
                      <ngb-timepicker name="endTimePicker" (ngModelChange)="onEndTimeSelection($event)" [(ngModel)]="endTime"></ngb-timepicker>
                  </div>
                </div>

                <div class="form-group">
                  <label for="intputTitle">Title</label>
                  <input type="text" class="form-control" id="intputTitle" placeholder="Enter Title"
                  required
                  [(ngModel)]="titleString" name="title">
                </div>
                <div class="form-group">
                  <label for="inputDescription">Description</label>
                  <input type="text" class="form-control" id="inputDescription" placeholder="Enter Description"
                  required
                  [(ngModel)]="descriptionString" name="description">
                </div>
                <button type="submit" class="btn btn-primary" (click)="postTermin()">Submit</button>                
        </form>
    </div>

</div>
